body {
    margin: 0;
    text-align: center;
}
   
#container  {
 background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
 background-size: cover;
 padding: 60px 10%; 
 color:white;
 opacity: 0.9;
 box-sizing:border-box;
 
}

.content-wrap {
    max-width: 600px;
    margin: auto;
}

.btn {
    display: inline-block;
    background: #333;
    border: 1px solid #666;
    padding: 16px 32px;
    color: white;
}



#subcontainer-1 {
    background-color: darkgrey;
    color: #333;
    padding: 16px;
}

